<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rweb | Active, Share, Reward</title>
	<link rel="stylesheet" href="{{ base_url() }}assets/foundation/css/foundation.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}assets/css/jquery.bxslider.css">
	<link rel="stylesheet" href="{{ base_url() }}assets/css/custom/style.css" />
    {#Font type#}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  {% block frontend_css %} {% endblock %}
  {% block head_js %}{% endblock %}
</head>

<body>
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <!-- off-canvas title bar for 'small' screen -->
    <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="title-bar-left home-icon">
        <a href="{{ base_url() }}">
        	<img src="{{ base_url() }}/assets/css/images/R.png" style="width: 40px">
        </a>
        <span class="title-bar-title">Rweb</span>

      </div>

      <div class="title-bar-right">
        <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
      </div>

    </div>
    <!-- off-canvas right menu -->
    <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">

      <ul class="vertical menu">
        <li><a href="login">Login / Register</a></li>
        <li><a href="news">News</a></li>
        <li><a href="promo">Promo</a></li>
        <li><a href="reward">Reward</a></li>
      </ul>

    </div>



    <!-- "wider" top-bar menu for 'medium' and up -->

    <div id="widemenu" class="top-bar">

      <div class="top-bar-left">

        <ul class="menu">

          <li class="logo"><a href="{{ base_url() }}"><img src="{{ base_url() }}/assets/css/images/R.png" style="width: 40px"></a></li>
          <li><a href="news">News</a></li>
          <li><a href="promo">Promo</a></li>
          <li><a href="reward">Reward</a></li>
          
        </ul>

      </div>

      
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          {% if is_login == FALSE  %}
          <li><a href="login">Login / Register</a></li>
          {% endif %}
          {% if is_login == TRUE %}
          <li>
            <a href="#">Hello, {{ member.fName }}</a>
            <ul class="menu">
              <li><a href="profile">Edit Profile</a></li>
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>

      
    </div>



    <!-- original content goes in this container -->

    <div class="off-canvas-content" data-off-canvas-content>

      {% block frontend_full_content %}{% endblock %}
      
      <div class="column row content">

        {% block frontend_center_content %}{% endblock %}

      </div>

    </div>


    <div class="footer">
      <div class="text-center">
          <ul class="social-media">
              <li class="fb"><img src="{{ base_url() }}assets/css/images/icon-facebook.png"></li>
              <li class="twitter"><img src="{{ base_url() }}assets/css/images/icon-twitter.png"></li>
          </ul>
          <p>Copyright &copy; 2016 All Rights Reserved</p>
      </div>
    </div>
  <!-- close wrapper, no more content after this -->

  </div>

</div>

<script src="{{ base_url() }}assets/js/jquery.min.js"></script>
<script src="{{ base_url() }}assets/foundation/js/vendor/jquery.js"></script>
<script src="{{ base_url() }}assets/foundation/js/vendor/what-input.js"></script>
<script src="{{ base_url() }}assets/foundation/js/vendor/foundation.min.js"></script>
<script src="{{ base_url() }}assets/foundation/js/app.js"></script>
{% block frontend_js %}{% endblock %}
</body>
</html>
