{% extends "pages/views/template_frontend.twig" %}

{% block frontend_banner %}
    <ul class="bxslider">
	  <li><img src="{{ base_url() }}assets/css/images/slide-home.jpg" /></li>
	  <li><img src="{{ base_url() }}assets/css/images/slide-home.jpg" /></li>
	</ul>
{% endblock %}

{% block frontend_center_content %}
    <div class="column head">
        <div class="small-10 small-centered columns">
        <div class="headline">
            <h2>Register - Earn Point - Reedem - Repeat</h2>
        </div>
        <div class="medium-10 medium-offset-1 small-12 end columns welcome">
            Welcome to Rewards where every point you earn can lead to something wonderful.
            Join the promo to get your Points. Check your Points balance, redeem Points online or manage your Rewards settings.
        </div>
        <div class="small-12 columns info">
            <div class="medium-4 medium-offset-4 end column detail">
                <div class="icon">
                    <img src="{{ base_url() }}assets/css/images/customer-icon.png">
                </div>
                <h4>Log in to get your Points</h4>
                <p>Check your Reward Points balance today and explore our collection of redemption options.</p>
                <div class="small-12 columns" style="text-align: center;">
                    <div class="button regis"><a href="{{ base_url() }}login">Log in now</a></div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    </div>

    <div class="column middle-home">
        <div class="small-10 small-centered columns">
        <div class="small-6 columns middle-left">
            <div class="icon"><img src="{{ base_url() }}assets/css/images/chat.png"></div>
            <div class="desc-info">
                <h3>Share daily promo and earn<br/>your point</h3>
                <p>To get more point, you can share daily promo in your social media or watching video in this promo. </p>
            </div>
            <div class="btn-join">
                <a href=""><h5>Start earning now...</h5></a>
            </div>
        </div>
        <small class="small-6 columns">
            <img src="{{ base_url() }}assets/css/images/people.png">
        </small>
    </div>
    </div>

    <div class="column benefit-home">
    <div class="small-10 small-centered columns">
        <div class="headline">
            <h2>BENEFIT OF REWARDS</h2>
        </div>
        <div class="medium-12 small-12 end columns welcome">
            Every point you earn can lead to something wonderful. You can get so many items with your point !
            Check your Reward Points balance today and explore our collection of redemption options.
        </div>
        <div class="small-12 columns">
            <div class="medium-12 small-12 columns" data-equalizer="benefit" style="margin-top: 50px;margin-bottom: 20px;">
                {% for list in list_reward %}
                <div class="small-12 medium-4 box columns" data-equalizer-watch="benefit">
                    <a href="{{ base_url() }}reward/{{list.id}}">
                        <div class="reward">
                            <div class="img">
                                <img src="{{ base_url() }}assets/css/images/reward-example.jpg">
                            </div>
                            <div class="poin">
                                <span>{{ list.point }} <img src="{{ base_url() }}assets/css/images/coin.png"></span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div style="clear:both;"></div>
            </div>
            <div class="medium-12 small-12 columns button-more">
                <a href="{{ base_url() }}reward"><div class="button">View more Reward</div></a>
            </div>
        </div>
    </div>
    </div>

    <div class="column news-home">
	<div class="small-10 small-centered columns">
		<div class="small-12 columns menu-title">
            <h3>NEWS</h3>
		</div>
		<div class="small-12 columns" data-equalizer="news">
            {% for news in list_news %}
			<div class="small-12 columns content no-padding">
					<div class="small-12 medium-3 columns no-padding img" data-equalizer-watch="news">
                        <a href="{{ base_url() }}news_detail/{{ news.id }}">
                            <img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
                        </a>
					</div>
					<div class="small-12 medium-9 columns pos-rel" data-equalizer-watch="news">
						<div class="small-12 columns news-title no-left-padding">
							{{ news.title }}
						</div>
						<div class="small-12 columns news-desc">
							{{ news.description|length > 250 ? news.description|slice(0,250) ~ '...' : news.description }}
						</div>
						<div class="news-more pos-abs">
                            <a href="{{ base_url() }}news_detail/{{ news.id }}">
                            <img src="{{ base_url() }}assets/css/images/right.png"> Read more</a>
                        </div>
						<div style="clear: both;"></div>
					</div>
			</div>
            {% endfor %}
		</div>

	</div>
    </div>
{% endblock %}

{% block frontend_js %}
	<script src="{{ base_url() }}assets/js/jquery.bxslider.min.js"></script>
	<script>
		$(document).ready(function(){
		  $('.bxslider').bxSlider();
        });
	</script>
{% endblock %}