{% extends "pages/views/template_frontend.twig" %}

{% block frontend_full_content %}
    <ul class="bxslider">
	  <li><img src="{{ base_url() }}assets/css/images/slide-home.jpg" /></li>
	  <li><img src="{{ base_url() }}assets/css/images/slide-home.jpg" /></li>
	</ul>
{% endblock %}

{% block frontend_center_content %}
    <div class="small-12 columns">
        <div class="headline">
            <h2>Register - Earn Point - Reedem - Repeat</h2>
        </div>
        <div class="medium-10 medium-offset-1 small-12 end columns welcome">
            Welcome to Rewards where every point you earn can lead to something wonderful.
            Join the promo to get your Points. Check your Points balance, redeem Points online or manage your Rewards settings.
        </div>
        <div class="small-12 columns info">
            <div class="medium-4 medium-offset-4 end column detail">
                <div class="icon">
                    <img src="{{ base_url() }}assets/css/images/customer-icon.png">
                </div>
                <h4>Log in to get your Points</h4>
                <p>Check your Reward Points balance today and explore our collection of redemption options.</p>
                <div class="small-12 columns" style="text-align: center;">
                    <div class="button regis"><a href="{{ base_url() }}login">Log in now</a></div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="small-12 columns benefit">
        <div class="headline">
            <h2>BENEFIT OF REWARDS</h2>
        </div>
        <div class="medium-10 medium-offset-1 small-12 end columns welcome">
            Every point you earn can lead to something wonderful. You can get so many items with your point !
            Check your Reward Points balance today and explore our collection of redemption options.
        </div>
        <div class="small-12 columns">
            <div class="medium-12 small-12 columns" data-equalizer="benefit" style="margin-top: 50px;margin-bottom: 20px;">
                <div class="small-12 medium-4 box columns" data-equalizer-watch="benefit">
                    <a href="{{ base_url() }}reward">
                        <div class="reward">
                            <div class="img">
                                <img src="{{ base_url() }}assets/css/images/reward.jpg">
                            </div>
                            <div class="poin">
                                <span>100 <img src="{{ base_url() }}assets/css/images/coin.png"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-4 box columns" data-equalizer-watch="benefit">
                    <a href="{{ base_url() }}reward">
                        <div class="reward">
                            <div class="img">
                                <img src="{{ base_url() }}assets/css/images/reward.jpg">
                            </div>
                            <div class="poin">
                                <span>100 <img src="{{ base_url() }}assets/css/images/coin.png"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="small-12 medium-4 box columns" data-equalizer-watch="benefit">
                    <a href="{{ base_url() }}reward">
                        <div class="reward">
                            <div class="img">
                                <img src="{{ base_url() }}assets/css/images/reward.jpg">
                            </div>
                            <div class="poin">
                                <span>100 <img src="{{ base_url() }}assets/css/images/coin.png"></span>
                            </div>
                        </div>
                    </a>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="medium-12 small-12 columns button-more">
                <a href="{{ base_url() }}reward"><div class="button">View more Reward</div></a>
            </div>
        </div>
    </div>
	<div class="small-12 columns news">
		<div class="menu-title">
			<div class="small-9 column">
				News
			</div>
			<div class="small-3 column text-right no-padding">
				<a href="#">See More</a>
			</div>
			<hr>
		</div>
		<div class="row" data-equalizer="news">
			<div class="small-12 columns content">
				<a href="{{ base_url() }}news_detail">
					<div class="small-12 medium-4 columns no-right-padding img" data-equalizer-watch="news">
						<img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
					</div>
					<div class="small-12 medium-8 columns pos-rel" data-equalizer-watch="news">
						<div class="small-12 columns news-title no-left-padding">
							Lorem Ipsum Title
						</div>
						<div class="small-12 columns news-desc">
							Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet
						</div>
						<div class="news-more pos-abs">
                            <img src="{{ base_url() }}assets/css/images/right.png"> Read more
                        </div>
						<div style="clear: both;"></div>
					</div>
				</a>
			</div>
			<div class="small-12 columns">
				<a href="{{ base_url() }}news_detail">
					<div class="small-12 medium-4 columns no-right-padding img" data-equalizer-watch="news">
						<img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
					</div>
					<div class="small-12 medium-8 columns pos-rel" data-equalizer-watch="news">
						<div class="small-12 columns news-title no-left-padding">
							Lorem Ipsum Title
						</div>
						<div class="small-12 columns news-desc">
							Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet
						</div>
						<div class="news-more pos-abs">
                            <img src="{{ base_url() }}assets/css/images/right.png"> Read more
						</div>
						<div style="clear: both;"></div>
					</div>
				</a>
			</div>		
		</div>

	</div>
{% endblock %}

{% block frontend_js %}
	<script src="{{ base_url() }}assets/js/jquery.bxslider.min.js"></script>
	<script>
		$(document).ready(function(){
		  $('.bxslider').bxSlider();
		});
	</script>
{% endblock %}