{% extends "pages/views/template_frontend.twig" %}

{% block frontend_center_content %}
    <div class="columns news-detail">
	<div class="small-12 medium-10 medium-centered columns">
    {% for news in news_detail %}
		<div class="small-12 title-newsdetail">
            <h3>{{ news.title }}</h3>
            <p class="date">Posted on {{ news.created_at|date("d F Y") }}</p>
			<img src="{{ base_url() }}assets/css/images/slide-example.jpg">
		</div>
		<div class="small-12 desc">
			{{ news.description }}
		</div>
    {% endfor %}
        <div class="small-12 columns share-detail">
            <div class="btn">
                <p>Share with your friend</p>
                <ul>
                    <li><a href="#" ><img src="{{ base_url() }}assets/css/images/twitter-share.png"></a></li>
                    <li><a href="#" class="facebook-share" id="{{ news.id }}"><img src="{{ base_url() }}assets/css/images/fb-share.png"></a></li>
                </ul>
            </div>
        </div>
	</div>
    </div>
{% endblock %}

{% block frontend_js %}
    <script>
        $(document).ready(function(){
            $('.facebook-share').on('click', function(){
                var news_id = $(this).attr('id');
                FB.ui({
                    display: 'popup',
                    method:  'share',
                    href: 'http://facebook.com',
                },function(response) {
                    if (response && response.post_id) {
                        $.ajax({
                            url : '{{ base_url() }}/done',
                            method : 'post',
                            data : news_id,
                            success : function(response){
                                alert("GOGOGO!");
                            }
                        });

                    }
                });
            });
        });
    </script>
{% endblock %}

<<<<<<< HEAD
=======
{% block frontend_js %}
<script>
$(document).ready(function(){
    $('.facebook-share').on('click', function(){
        var news_id = $(this).attr('id');
        FB.ui({
            display: 'popup',
            method:  'share',
            href: 'http://facebook.com',
        },function(response) {
            if (response && response.post_id) {
                    $.ajax({
                        url : '{{ base_url() }}/done',
                        method : 'post',
                        data : news_id,
                        success : function(response){
                            alert("GOGOGO!");
                        }
                    });

            }
        });
    });
});
</script>
>>>>>>> 2f909d20327ac21851293ea7b4be41849cc77080
{% endblock %}
>>>>>>> 9c7c1677f5790577bb35f872159a60bc3c636f6e
