{% extends "pages/views/template_frontend.twig" %}

{% block frontend_center_content %}
    <div class="columns news-detail">
	<div class="small-12 medium-10 medium-centered columns">
    {% for news in news_detail %}
		<div class="small-12 title-newsdetail">
            <h3>{{ news.title }}</h3>
            <p class="date">Posted on {{ news.created_at|date("d F Y") }}</p>
			<img src="{{ base_url() }}assets/css/images/slide-example.jpg">
		</div>
		<div class="small-12 desc">
			{{ news.description }}
		</div>
    {% endfor %}
        <div class="small-12 columns share-detail">
            <div class="btn">
                <p>Share with your friend</p>
                <ul>
                    <li><a href=""><img src="{{ base_url() }}assets/css/images/fb-share.png"></a></li>
                    <li><a href=""><img src="{{ base_url() }}assets/css/images/twitter-share.png"></a></li>
                </ul>
            </div>
        </div>
	</div>
    </div>
{% endblock %}