{% extends "pages/views/template_frontend.twig" %}

{% block frontend_banner %}
    <img src="{{ base_url() }}assets/css/images/news-banner.jpg" style="width: 100%;" />
{% endblock %}
{% block frontend_center_content %}
    <div class="column news-page">
    <div class="small-12 medium-10 medium-centered columns">
        {% for news in list_news %}
        <div class="medium-12 small-12 columns detail-newspage">
            <div class="small-12 columns title no-padding">
                {{ news.title }}
            </div>
            <div class="small-12 columns news-headline no-padding" data-equalizer="news">
                <div class="medium-4 small-12 columns no-padding" data-equalizer-watch="news">
                    <img src="{{ base_url() }}assets/css/images/news-thumb.jpg">
                </div>
                <div class="medium-8 small-12 columns no-right-padding" data-equalizer-watch="news">
                    <div class=" small-6 columns post-date">
                        Posted on {{ news.created_at|date("d F Y") }}
                    </div>
                    <div class="small-6 columns share">
                        <ul>
                            <li><span>Share</span></li>
                            <li><a href="" ><img src="{{ base_url() }}assets/css/images/twitter-share.png"></a></li>
                            <li><a href="#" class="facebook-share" id="{{ news.id }}"><img src="{{ base_url() }}assets/css/images/fb-share.png"></a></li>
                        </ul>
                    </div>
                    {{ news.description|length > 250 ? news.description|slice(0,250) ~ '...' : news.description }} <br>
                    <a href="{{ base_url() }}news_detail/{{ news.id }}">Read more <img src="{{ base_url() }}assets/css/images/right.png"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}

{% block frontend_js %}
<script>
$(document).ready(function(){
    $('.facebook-share').on('click', function(){
        FB.ui({
            display: 'popup',
            method:  'share',
            href: 'http://facebook.com',
        },function(response) {
            if (response && response.post_id) {
                    console.log('shared is done');
                    //ToDO::add query point here
            }
        });
    });
});
</script>
{% endblock %}

