{% extends "pages/views/template_frontend.twig" %}

{% block frontend_full_content %}
    <ul class="news-slide">
        <li><img src="{{ base_url() }}assets/css/images/slide-example.jpg" /></li>
        <li><img src="{{ base_url() }}assets/css/images/slide-example.jpg" /></li>
        <li><img src="{{ base_url() }}assets/css/images/slide-example.jpg" /></li>
    </ul>
{% endblock %}
{% block frontend_center_content %}
<div class="title-head">
    <h1>News</h1>
</div>
    <div class="detail">
        <div class="row" data-equalizer="news">
            <div class="small-12 columns news-frame">
                <div class="medium-4 small-12 columns news-img" data-equalizer-watch="news">
                    <img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
                </div>
                <div class="medium-8 small-12 columns" data-equalizer-watch="news">
                    <span class="title"><h3>News Title</h3></span>
                    <span class="post-date">Posted on 09 November 2016</span>
                    <div class="desc">
                        Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet
                    </div>
                    <a href="{{ base_url() }}news_detail">
                        <div class="read-more"><img src="{{ base_url() }}assets/css/images/right.png"> Read more</div>
                    </a>
                </div>
            </div>
            <div class="small-12 columns news-frame">
                <div class="medium-4 small-12 columns news-img" data-equalizer-watch="news">
                    <img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
                </div>
                <div class="medium-8 small-12 columns" data-equalizer-watch="news">
                    <span class="title"><h3>News Title</h3></span>
                    <span class="post-date">Posted on 09 November 2016</span>
                    <div class="desc">
                        Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet
                    </div>
                    <a href="{{ base_url() }}news_detail">
                        <div class="read-more"><img src="{{ base_url() }}assets/css/images/right.png"> Read more</div>
                    </a>
                </div>
            </div>
            <div class="small-12 columns news-frame">
                <div class="medium-4 small-12 columns news-img" data-equalizer-watch="news">
                    <img src="{{ base_url() }}assets/css/images/news-img-example.jpg">
                </div>
                <div class="medium-8 small-12 columns" data-equalizer-watch="news">
                    <span class="title"><h3>News Title</h3></span>
                    <span class="post-date">Posted on 09 November 2016</span>
                    <div class="desc">
                        Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet Lorem Ipsum sit dolor amet
                    </div>
                    <a href="{{ base_url() }}news_detail">
                        <div class="read-more"><img src="{{ base_url() }}assets/css/images/right.png"> Read more</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block frontend_js %}
    <script src="{{ base_url() }}assets/js/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.news-slide').bxSlider();
        });
    </script>
{% endblock %}