{% extends "pages/views/template_frontend.twig" %}

{% block frontend_center_content %}
    <div class="column reward-page no-padding" data-equalizer="reward-height">
        <div class="medium-3 columns no-padding" data-equalizer-watch="reward-height">
            <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
              {% for brand in brand_reward %}
              <li class="tabs-title {{ loop.first?'is-active':'' }}"><a href="#panel{{ brand.id }}">{{ brand.name }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class="medium-9 columns no-padding" data-equalizer-watch="reward-height">
            <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
                {% for brand in brand_reward %}
                    <div class="tabs-panel {{ loop.first?'is-active':'' }}" id="panel{{ brand.id }}">
                        <div class="small-9 column">
                            <h4>{{ brand.name }} Reward</h4>
                        </div>
                        <div class="small-3 column text-right">
                            Point : {{ }}
                        </div>
                        <div style="clear:both"></div>
                        {% for reward in reward_list %}
                            {% if(brand.id==reward.brand_id) %}
                            <div class="medium-4 small-12 columns brand-reward end" data-equalizer="reward">
                                <div class="small-12 box columns" data-equalizer-watch="reward">
                                    <div class="small-12 columns img-reward">
                                        <img src="{{ base_url() }}assets/css/images/reward.jpg">
                                    </div>

                                    <div class="small-12 columns btn-reedem">
                                        <a class="button" href="{{ base_url() }}reedem/{{ reward.id }}">100 point</a>
                                    </div>
                                </div>
                                <div class="small-12 columns confirm no-padding">
                                    <p>Are you sure want to redeem 100 point for this reward?</p>
                                    <div class="small-12 columns">
                                        <div class="small-6 columns btn-confirm">
                                            <a href="{{ base_url() }}thankyou"><button class="button">Yes</button></a>
                                        </div>
                                        <div class="small-6 columns btn-confirm">
                                            <a href=""><button class="button">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
<script>
    $(document).ready(function(){
        $(".confirm").hide();
        $(".button").on("click", function(){
            $(".box-content").hide();
            $(".confirm").show();
        });
    });
</script>
{% endblock %}